.body{ 
    background-color: burlywood;
    font-family: 'arial';
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

/* The fonts used were Arial and Times New Roman. The color blue for the text and burlywood for the background*/ 